<a href="https://colab.research.google.com/github/EastHuni/lg-aimers/blob/main/%EC%9E%90%EC%9C%A8%EC%A3%BC%ED%96%89_%EC%84%BC%EC%84%9C%EC%9D%98_%EC%95%88%ED%85%8C%EB%82%98_%EC%84%B1%EB%8A%A5_%EC%98%88%EC%B8%A1_AI_%EA%B2%BD%EC%A7%84%EB%8C%80%ED%9A%8C_(%EB%B3%80%EC%88%98%EC%B6%94%EC%B6%9C).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
train = pd.read_csv("/content/drive/MyDrive/LG Almers/LG Aimers 1기_datasets/train.csv")
test = pd.read_csv("/content/drive/MyDrive/LG Almers/LG Aimers 1기_datasets/test.csv")

In [ ]:
train.head()

,ID,X_01,X_02,X_03,X_04,X_05,X_06,X_07,X_08,X_09,...,Y_05,Y_06,Y_07,Y_08,Y_09,Y_10,Y_11,Y_12,Y_13,Y_14
0,TRAIN_00001,70.544,103.320,67.47,1,101.892,74.983,29.45,62.38,245.71,...,29.632,16.083,4.276,-25.381,-25.529,-22.769,23.792,-25.470,-25.409,-25.304
1,TRAIN_00002,69.524,103.321,65.17,1,101.944,72.943,28.73,61.23,233.61,...,33.179,16.736,3.229,-26.619,-26.523,-22.574,24.691,-26.253,-26.497,-26.438
2,TRAIN_00003,72.583,103.320,64.07,1,103.153,72.943,28.81,105.77,272.20,...,31.801,17.080,2.839,-26.238,-26.216,-22.169,24.649,-26.285,-26.215,-26.370
3,TRAIN_00004,71.563,103.320,67.57,1,101.971,77.022,28.92,115.21,255.36,...,34.503,17.143,3.144,-25.426,-25.079,-21.765,24.913,-25.254,-25.021,-25.345
4,TRAIN_00005,69.524,103.320,63.57,1,101.981,70.904,29.68,103.38,241.46,...,32.602,17.569,3.138,-25.376,-25.242,-21.072,25.299,-25.072,-25.195,-24.974

In [ ]:
import pandas as pd
import numpy as np

X = train.filter(regex='X')
y = train.filter(regex='Y')

# 숫자 변환 및 NaN/Inf 제거
X_clean = X.apply(pd.to_numeric, errors='coerce').replace([np.inf, -np.inf], np.nan)
y_clean = y['Y_01'].replace([np.inf, -np.inf], np.nan)

# 공통 유효 인덱스만 추출
valid_idx = X_clean.dropna().index.intersection(y_clean.dropna().index)
X_final = X_clean.loc[valid_idx]
y_final = y_clean.loc[valid_idx]

# 상관계수 계산
corr_series = X_final.corrwith(y_final).abs()
top_feature = corr_series.idxmax()
top_value = corr_series.max()

print(f"Y_01과 가장 높은 상관계수를 가진 변수: {top_feature}, 상관계수: {top_value:.4f}")

Y_01과 가장 높은 상관계수를 가진 변수: X_22, 상관계수: 0.0751

/usr/local/lib/python3.11/dist-packages/numpy/lib/_function_base_impl.py:2922: RuntimeWarning: invalid value encountered in divide
  c /= stddev[:, None]
/usr/local/lib/python3.11/dist-packages/numpy/lib/_function_base_impl.py:2923: RuntimeWarning: invalid value encountered in divide
  c /= stddev[None, :]

In [ ]:
X.head()

,X_01,X_02,X_03,X_04,X_05,X_06,X_07,X_08,X_09,X_10,...,X_47,X_48,X_49,X_50,X_51,X_52,X_53,X_54,X_55,X_56
0,70.544,103.320,67.47,1,101.892,74.983,29.45,62.38,245.71,0.0,...,1,1,9706.03,137.043591,135.359219,147.837968,134.313475,125.605427,136.721425,125.028256
1,69.524,103.321,65.17,1,101.944,72.943,28.73,61.23,233.61,0.0,...,1,1,10423.43,133.736691,135.979817,149.924692,123.630583,127.893337,143.322659,124.877308
2,72.583,103.320,64.07,1,103.153,72.943,28.81,105.77,272.20,0.0,...,1,1,10948.53,132.805112,131.055355,146.814592,128.939070,127.012195,140.395688,122.238232
3,71.563,103.320,67.57,1,101.971,77.022,28.92,115.21,255.36,0.0,...,1,1,15007.03,134.138760,133.239422,139.720132,132.260824,130.723186,147.624829,134.875225
4,69.524,103.320,63.57,1,101.981,70.904,29.68,103.38,241.46,0.0,...,1,1,11051.03,142.728970,136.620022,134.853555,134.760252,125.647793,139.331105,123.272762

In [ ]:
X['X_04'].value_counts()

X_04
1    39607
Name: count, dtype: int64

In [ ]:
X['X_47'].value_counts()

X_47
1    39607
Name: count, dtype: int64

In [ ]:
X['X_48'].value_counts()

X_48
1    39607
Name: count, dtype: int64

In [ ]:
X['X_10'].value_counts()

X_10
0.0    39575
2.9       12
3.0       12
3.3        4
3.1        2
3.6        1
3.2        1
Name: count, dtype: int64

In [ ]:
unique_counts = X.nunique()
constant_features = unique_counts[unique_counts == 1].index.tolist()
constant_features

['X_04', 'X_23', 'X_47', 'X_48']

In [ ]:
from sklearn.feature_selection import VarianceThreshold

# 결측치가 있는 행 제거
X_clean = X.apply(pd.to_numeric, errors='coerce').replace([np.inf, -np.inf], np.nan).dropna()

# VarianceThreshold로 분산 측정
selector = VarianceThreshold(threshold=0.0001)
selector.fit(X_clean)

# 제거 대상 변수 목록
low_variance_features = X_clean.columns[~selector.get_support()].tolist()
print("❌ 분산이 매우 작은 변수들:", low_variance_features)

❌ 분산이 매우 작은 변수들: ['X_02', 'X_04', 'X_23', 'X_47', 'X_48']

In [ ]:
# 각 변수의 고유값 개수 확인
unique_counts = X.nunique()

# 고유값이 2개 이하인 변수 추출
low_unique_features = unique_counts[unique_counts <= 2].index.tolist()

print("❌ 고유값이 2개 이하인 변수들:", low_unique_features)

❌ 고유값이 2개 이하인 변수들: ['X_02', 'X_04', 'X_23', 'X_47', 'X_48']

In [ ]:
X['X_02'].value_counts()

X_02
103.320    33020
103.321     6587
Name: count, dtype: int64

In [ ]:
# 최종으로 ['X_02', 'X_04', 'X_23', 'X_47', 'X_48'] 컬럼들을 삭제하고 모델 돌려볼예정